.home-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

.text-section {
  margin-left: 50px;
  margin-top: 80px;
  margin-bottom: 90px;
}

.text-1,
.text-2,
.text-3 {
  font-family: 'inter', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 30px;
  padding: 0;
  margin: 0;
  line-height: 0;
}

.text-2 {
  margin-top: 10px;
  font-size: 80px;
  font-weight: 900;
  line-height: 1.2;
}

hr {
  width: auto;
  margin-left: 50px;
  margin-right: 50px;
  background-color: black;
  height: 1px;
}

.image-holder img{
  width: 100px;
}
